<header>
  <img class="logo" src="images/logo.png" alt="logo">
  <nav>
    <ul class="nav__links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </nav>
</header>
