<!-- Container - Logo -->
<div class="logo">
  <div class="logo-image">
    <img src="/images/wiki_globe.jpg" alt="logo" />
  </div>
</div>

<!-- Container for Side Nav -->
<nav class="navigation-header">
  <ul class="nav__links">
    <!-- <li><a href="#">Home</a></li> -->
    <li><a href="#">Login</a></li>
    <!-- <li><a href="#">Register</a></li> -->
  </ul>
  <a class="cta" href="#"><button>Map Lists</button></a>
</nav>
