<h5  class="map_list_label">My Map List:</h5>
<div class="map">
  <div  class="maps_section"><!-- Main Container to Hold the Paginated page -->
    <% for (const map of userMaps) { %>
      <div class="maps_section_org"><!-- loop container -->
        <form class="map_button map-button" id="map_<%=map.map_id%>" action="/map/<%= map.map_id %>" method="get">
          <input class="map_name" map-id="<%=map.map_id%>" type="submit" value="<%= map.map_name %>"></input>
        </form>
        <button class="map_like">💛</button>
        <button class="map_delete">🗑</button>
      </div>
    <% } %>
  </div>
  <!-- Map List Pagination -->
  <nav class="maps_pagination_section" aria-label="Page navigation">
    <ul class="maps_pagination">
      <li class="page-item previous_map_page">
        <a href="javascript:void(0)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
