<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Have fun! 🥔</h1>
    <header>
      <h2>
        Header Area: for the group logo / name, User-name, and login/logout
        button access
      </h2>
    </header>
    <div id="navigation_1">
      <h2>
        (Left) Map user list Area: Other Maps (non-authenticated)/ Create New
        List (authanticated), your created list of map with like and delete,
        Other maps drop down list
      </h2>
    </div>
    <div id="map-body-image">
      <h2>Image of Google Map Where we will put the google maps api</h2>
    </div>
    <div id="navigation_2">
      <h2>
        (Right Side) Map location user created: Add Location, Map marker icon,
        name, like, delete, pagination below (maybe)
      </h2>
    </div>
    <div id="main-body">
      <h2>Location, Description, How many Likes there is, Uploaded Image</h2>
    </div>
    <footer>
      <h2>Froup name / image, copyright **All right Reserved**, Contact Us</h2>
    </footer>
  </body>
</html>
