<h3>Add a new location</h3>
<form id="new-location" action="/location" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="description">Description</label>
  <input type="text" name="description">
  <label for="latitude">Latitude</label>
  <input type="text" name="latitude">
  <label for="longitude">Longitude</label>
  <input type="text" name="longitude">
  <label for="image">Image</label>
  <input type="text" name="image">
  <input type="submit" value="Add Location">
</form>
