<form action="/map" method="POST">
  <div class="container">
    <div id="newmap">
      <input type="text" maxlength="20" placeholder="Add Maps" />
      <button id="push">Add</button>
    </div>
    <div id="maps"></div>
  </div>
</form>
