body {
  font-size: 12px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgb(9, 189, 234);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ec6443;
}

.navigation_1 {
  background: #48998d;
}

.map-body-image {
  background: #c6d86d;
}

.navigation_2 {
  background: #54494b;
}

.main-body {
  background: #b23c86;
}

footer {
  background: #d83a3d;
}

.nav-container {
  display: flex;
  flex-direction: row;
  height: 35vh;
  width: 100%;
}

.navigation_1 {
  width: 25%;
}

.map-body-image {
  width: 50%;
}

.navigation_2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigation_2 .add_location {
  margin-left: 70px;
}

.navigation_2 .location {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation_2 .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.main-body {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-body .location_details {
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

.main-body .location_details .location_pin_details {
  display: flex;
  flex-direction: row;
}

.main-body .location_details .location_pin_details p {
  margin-right: 10px;
}

.main-body .location_details .location_pin_details .location_name_details {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-body .location_details .like_count {
  display: flex;
  flex-direction: row;
  margin-top: 108px;
}

footer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}

footer .copyright_logo {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
}

footer .copyright_logo .logo {
  margin-top: 2px;
}

footer .copyright_logo .copyright {
  margin-top: 0px;
}

footer .contact_us {
  margin-right: 12px;
}
